@import url(components/banner.css);
@import url(components/navbar.css);
@import url(components/buttons.css);
@import url(components/cards.css);
@import url(components/icons.css);
@import url(components/avatar.css);
@import url(components/footer.css);

/* ROBOTO AND NUNITO */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap');

/* COLORS */
:root {
  --color-principal: #F2CD5D;
  --color-secundario: #5F38CC;
  --color-headers: #353535;
  --color-paragraphs: #494949;
  --color-subtitles: rgba(91, 71, 210, 0.6);
}

body {
  margin: 0;
  margin-top: 0;
}

p {
  font-family: 'Nunito', sans-serif;
  color: var(--color-paragraphs);
  margin-bottom: 0px;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  color: var(--color-headers);
}

h1 {
  font-weight: 700px;
}

.subtitle {
  color: var(--color-subtitles)
}


a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

/* SECTIONS */

.about-me {
  margin-top: 100px;
}

.bio p {
  line-height: 34px;
}

.bio {
  width: 40%;
}

.my-value {
  margin-top: 80px;
  margin-bottom: 80px;
  background-image: url(../images/background2.png);
  background-size: cover;
}

.my-value h2 {
  font-size: 50px;
}

.my-value p {
  line-height: 34px;
}

.wrapper-cv {
  background-color: var(--color-principal);
  margin-bottom: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 100vh;
  margin-top: 150px;
}
