/* COMPONENTS */
@import url(components/banner.css);
@import url(components/navbar.css);
@import url(components/buttons.css);
@import url(components/cards.css);
@import url(components/icons.css);
@import url(components/avatar.css);
@import url(components/footer.css);
@import url(components/modal.css);
@import url(components/images.css);

/* FONTS */
/* SOFIA PRO - https://fonts.adobe.com/fonts/sofia */

/* COLORS - https://colorhunt.co/palette/220258 */
:root {
  --color-principal: #f3eac2;
  --color-secundario: rgb(154, 211, 188);
  --color-headers: #353535;
  --color-paragraphs: #636262;
  --color-subtitles: #ec524b;
  --color-details: #f5b461;
  --color-ebony: #606D5D;
}

.hidden {
  transition: 1s;
  display: none;
}

body {
  margin: 0;
  margin-top: 0;
}

p {
  font-family: sofia-pro, sans-serif;
  color: var(--color-paragraphs);
  margin-bottom: 0px;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: sofia-pro, sans-serif;
  font-weight: bold;
  color: var(--color-headers);
}

h1 {
  font-weight: 700px;
}

.subtitle {
  font-family: sofia-pro, sans-serif;
  font-weight: bold;
  color: var(--color-subtitles)
}


a {
  display: block;
  color: black;
  font-family: sofia-pro, sans-serif;
}

a:hover {
  text-decoration: none;
  color: black;
}

.navbar-small-devices {
  display: none;
}

/* SECTIONS */

/* ABOUT ME */
.about-me {
  margin-top: 50px;
  padding-top: 80px;
}

.about-me-content {
  display: flex;
  justify-content: space-between;
}

.bio p {
  line-height: 34px;
}

.bio {
  width: 40%;
}

/* MY VALUE */
.my-value {
  margin-top: 80px;
  margin-bottom: 80px;
  background-image: url(../images/background2.png);
  background-size: cover;
}

.my-value h2 {
  font-size: 40px;
  line-height: 94px;
}

.my-value p {
  line-height: 34px;
}

/* CV */
.wrapper-cv {
  background-color: var(--color-principal);
  margin-bottom: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 100vh;
  margin-top: 150px;
}

.highlight {
  background-color: rgb(154, 211, 188, 0.2);
  padding: 10px 10px;
  font-weight: bold;
}

/* PROJECTS */

.flatify-games {
  display: flex;
  justify-content: space-between;
}

.flatify {
  justify-content: center;
  align-items: center;
}

.games-master {
  justify-content: center;
  align-items: center;
}

.flatify-games {
  margin-top: 40px;
}

.projects {
  padding-top: 80px;
  background-image: url(../images/background-projects.png);
  background-size: cover;
  padding-bottom: 250px;
}

.project-description {
  line-height: 34px;
}

/* effect */
.section {
  transition: transform 1s, opacity 1s
}

.hidden-section {
  opacity: 0;
  transform: translateY(40px);
}


/* RESPONSIVE DESIGN */

/* IPAD PRO */
@media (max-width: 1024px) {
  /* BANNER */
  .navbar-small-devices {
    display: none;
  }

  .banner h1 {
    font-size: 81px;
  }

  .card-banner {
    width: 78%;
  }

  .card-purple {
    width: 784px;
    top: 19%;
    left: 12%;
  }

  .card-transparent {
    width: 755px;
    top: 16%;
    left: 19%;
  }

  .contact-icons {
    flex-direction: initial;
    align-items: center;
    top: 51%;
    right: 17%;
  }

  .contact-icons i {
    margin-right: 10px;
  }

  .container {
    width:
  }

  .bio {
    width: 100%;
  }

  /* ABOUT ME */

  .about-me-content {
    display: block;
  }

  .card-contact-details {
    width: 100%;
    margin-top: 40px;
  }

  .card-contact-details-content {
    align-items: center;
  }

  /* MY VALUE */

  .my-value {
    margin-top: 100px;
  }

  .value-cards {
    display: block;
  }
  .my-card {
    width: 100%;
    margin-bottom: 30px;
  }

  .my-value h2 {
    line-height: 90px;
  }

  /* CV */

  .cv-cards {
    display: block;
  }

  .cv-card-languages, .cv-card-education, .cv-card-skills, .cv-card-experience {
    width: 100%;
    margin-bottom: 20px;
  }

  .cv-card-education, .cv-card-skills {
    margin-left: 0px;
  }

  .cv-card-languages h1 {
    justify-content: start !important;
  }

  .cv-card-languages h1, .cv-card-experience h1{
    margin-top: 0px;
  }

  .btn-download-cv {
    margin: 4% auto;
    width: 30%;
  }

  .wrapper-cv {
    height: auto;
  }
}

/* IPAD */
@media (max-width: 768px) {

  /* BANNER */
  .banner h1 {
    font-size: 81px;
  }

  .card-banner {
    width: 74%;
  }

  .card-purple {
    width: 557px;
  }

  .card-transparent {
    width: 543px;
  }

  .contact-icons {
    flex-direction: initial;
    align-items: center;
    top: 60%;
    right: 20%;
  }

  .contact-icons i {
    margin-right: 10px;
  }

  /* ABOUT ME */

  .bio {
    width: 100%;
  }

  .about-me-content {
    display: block;
  }

  .card-contact-details {
    width: 100%;
    margin-top: 40px;
  }

  /* MY VALUE */

  .my-value {
    margin-top: 100px;
  }

  .value-cards {
    display: block;
  }
  .my-card {
    width: 100%;
    margin-bottom: 30px;
  }

  .my-value h2 {
    font-size: 45px;
  }

  /* CV */

  .cv-cards {
    display: block;
  }

  .cv-card-languages, .cv-card-education, .cv-card-skills, .cv-card-experience {
    width: 100%;
    margin-bottom: 20px;
  }

  .cv-card-education, .cv-card-skills {
    margin-left: 0px;
  }

  .cv-card-languages h1 {
    justify-content: start !important;
  }

  .cv-card-languages h1, .cv-card-experience h1{
    margin-top: 0px;
  }

  .btn-download-cv {
    margin: 4% auto;
    width: 30%;
  }

  /* PROJECTS */

  .flatify-games {
    display: block;
  }

  .projects .my-card {
    width: 100%;
  }

}

/* PHONE */
@media (max-width: 414px) {
  /* navbar */
  .navbar-small-devices {
    display: block;
  }

  .sections {
    z-index: 1;
    position: sticky;
    top: 0;
  }

  .navbar {
    display: none;
  }

  .flex-grow-1 {
    display: none;
  }

  .card-banner {
    width: 93%;
    top: 10%;
  }

  .card-banner h1 {
    font-size: 52px;
  }

  .card-transparent {
    display: none;
  }

  .card-purple {
   display: none;
  }

  .contact-icons i {
    color: white;
    font-size: 50px;
  }

  .contact-icons {
    left: -5%;
    top: 478px;
  }


  .bio {
    width: 100%;
  }

  .about-me-content {
    display: block;
  }

  .card-contact-details {
    width: 100%;
    margin-top: 40px;
  }

  .card-contact-details-content {
    display: block;
    text-align: center;
  }

  .card-contact-details-phone {
    justify-content: center;
  }

  .card-contact-details-location {
    display: block;
  }

  .download-cv {
    justify-content: center;
  }

  .purple-bar {
    margin: 0 auto;
    width: 78%;
  }

  .my-value h2 {
    font-size: 42px;
  }

  .btn-download-cv {
    width: 54%;
    margin-top: 47px;
  }

  .projects {
    background-image: none;
  }

}
