/* COMMON COMPONENTS */
@import url(../../style/components/footer.css);
@import url(../../style/components/navbar.css);
@import url(../../style/components/buttons.css);
@import url(../../style/components/tags.css);

/* UNIQUE PROJECTS COMPONENTS */
@import url(components/banner.css);
@import url(components/icons.css);
@import url(components/video.css);


:root {
  --color-principal: #5F38CC ; /* #FEE475 */
  --color-secundario: #3E4E50;
  --color-headers: #353535;
  --color-paragraphs: #636262;
  --color-details: #f5b461;
  --color-ebony: #606d5d;
  --color-background: #F3F3F1;
}

body {
  margin: 0;
  margin-top: 0;
}

p {
  font-family: sofia-pro-soft, sans-serif;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 100;
  color: var(--color-paragraphs);
}

h1,
h2,
h3,
h4 {
  font-family: sofia-pro, sans-serif;
  font-weight: bold;
  color: var(--color-headers);
}

a {
  display: block;
  color: black;
  font-family: sofia-pro, sans-serif;
}

a:hover {
  text-decoration: none;
  color: black;
}

.project-links p {
  font-size: small;
  letter-spacing: 3px;
  font-weight: 100;
}

.project-description .subtitle {
  font-weight: 500;
  font-family: sofia-pro, sans-serif;
  opacity: 0.7;
  font-size: small;
  letter-spacing: 3px;
}

.project-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
}

.project-description {
  line-height: 34px;
}

.project-description .description {
  width: 30%;
}

.project-specifications {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-project-description {
  background-size: cover;
  background-position: left;
  margin-top: 80px;
  padding: 40px 0px 80px 0px;
}

.project-info-flatify {
  width: 60%;
}

.searching-system a {
  display: inline;
  font-weight: bold;
  color: var(--color-principal);
}

/* IMAGES */
.img-game-cards {
  width: 40%;
}

.flatify-img {
  width: 25%;
  margin-left: 40px;
}

#flatify-project-page .project-description {
  padding: 80px 0px;
  height: auto;
  margin-bottom: 150px;
}

#flatify-project-page .left-side {
  justify-content: flex-start;
}

#flatify-project-page .right-side {
  justify-content: flex-end;
}

#flatify-project-page .project-description .description {
  width: 50%;
}

#invite-flatmates {
  position: relative;
}

#customize-flat {
  position: relative;
  margin-bottom: 250px;
}

.down {
  position: absolute;
  right: 96px;
  filter: blur(2px);
}

.above {
  z-index: 1;
  position: absolute;
  right: 180px;
  top: 10px;
}

.flatmates {
  margin-top: 170px;
}

.avatar-flatmates {
  position: absolute;
  width: 50%;
  bottom: 191px;
  left: 34px;
}

.wrapper-create-share-expenses {
  background: #F5E0B7;
  margin: 150px 0px;
}

.wrapper-create-share-expenses .project-description {
  display: block;
}

.expense-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  text-align: center;
  margin-top: 40px;
}

#expense-description {
  height: auto;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.expense-images {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
}

.expense-img {
  max-width: 100%;
  height: auto;
}

.expense-img:first-child {
  margin-left: 0px;
}

.expense-category {
  padding: 15px 60px;
  border-radius: 10px;
  font-weight: bold;
}

.shopping {
  color: #42BCEC;
  border: 1px solid #42BCEC;
}

.pets {
  border: 1px solid #FF707B;
  color: white;
  background: #FF707B;
  padding: 15px 70px;
}

.others {
  border: 1px solid #D39DD3;
  color: #D39DD3;
}

.utilities {
  border: 1px solid #FACF45;
  color: white;
  background: #FACF45;
}

.img-profile {
  width: 50%;
  background-image: url(../../images/graphic-profile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: top;
}

.img-profile .flatify-img {
  width: 55%;
  margin: 21% 0% 0% 25%;
}

#profile-flatify .description {
  margin-left: 40px;
}

.wrapper-screenshots {
  background: #04AF88;
  padding: 100px 0px;
  margin-bottom: 150px;
}

.title-description {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.title-description p, .title-description h1 {
  color: black;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 40px;
}

.screenshot {
    display: inline;
  }

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.go-to-projects {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.go-to-projects .previous {
  margin-right: 60px;
}

.go-to-projects .previous:hover a {
  color: var(--color-principal);
}

#games-master .go-to-projects {
  margin-top: 150px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {

  .project-description {
    height: 40vh;
  }

  .banner-project i {
    opacity: 1;
  }

  .project-description .description {
    width: 35%;
  }

  .img-game-cards {
    width: 60%;
  }

  #video-games-master {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  }

  .flatmates {
    margin-top: 0;
    position: absolute;
    right: 244px;
    bottom: -18px;
  }

  .avatar-flatmates {
    bottom: 77px;
    left: 63px;
    z-index: 1;
  }

  #expense-description {
    width: 90%;
  }

  .banner-flatify {
    background-size: auto;
  }
}

@media (max-width: 925px) {

  .banner-project-content {
    display: block;
  }

  .banner-project i {
    opacity: 1;
  }

  .flatify-banner-content {
    display: flex;
    justify-content: space-between;
  }

  .project-info-flatify {
    width: 50%;
  }

  .project-pic-flatify {
    width: 40%;
    margin-top: 40px;
  }

  .project-pic-games-master {
    width: 100%;
    margin-top: 40px;
    margin-left: 0px;
  }

  .project-description {
    height: 60vh;
  }

  .img-game-cards {
    width: 70%;
    margin-top: 0px;
  }

  .game-cards-img {
    margin: 50px 0px 30px 0px;
  }

  .wrapper-project-description {
    padding: 40px 0px 80px 0px;
  }

  #flatify-project-page .project-description {
    justify-content: space-around;
  }

  #flatify-project-page .project-description {
  margin-top: 150px;
  }

  .flatify-img {
    width: 40%;
  }

  #games-master .project-description {
    display: block;
  }

  #games-master .project-description .description {
    text-align: center;
    margin-bottom: 20px;
  }

  #games-master .project-description .description {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }

  #video-games-master {
  width: 100%;
  }

  #invite-flatmates {
    display: block;
  }

  #invite-flatmates .description {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .flatmates {
    margin-top: 0px;
    position: relative;
    right: 0;
    bottom: 0;
  }

  .avatar-flatmates {
    bottom: -51px;
    left: 63px;
    z-index: 1;
    width: 79%;
  }

  #flatify-project-page .project-description .description {
    width: 100%;
  }

  .expense-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 15px;
  }

  .down {
    position: initial;
  }

  .above {
    right: 31px;
    top: 157px;
  }

  .banner-flatify {
    height: 100vh;
    background-size: auto;
  }

  .img-profile {
    width: auto;
    background-image: none;
  }

  .img-profile .flatify-img {
    width: 74%;
    margin: 0;
  }

  #profile-flatify .description {
    margin-left: 0;
  }

  .scrolling-wrapper {
    margin-top: 70px;
  }
}

@media (max-width: 414px) {
  .project-info-flatify {
    width: 100%;
  }

  .flatify-banner-content {
    display: block;
  }

  .project-pic {
    margin-left: 0;
    width: 100%;
  }

  #flatify-project-page .project-description {
    margin-top: 80px;
  }

  .flatify-img {
    margin-left: 0;
    width: 100%;
  }

  .flatmates {
    width: 100%;
  }

  .avatar-flatmates {
    bottom: -51px;
    left: -1px;
    z-index: 1;
    width: 100%;
  }

  .expense-categories {
    grid-template-columns: 1fr;
  }

  .expense-images {
    display: grid;
    grid-template-columns: 1fr;
  }

  .expense-img {
    margin-left: 0;
    width: 100%;
  }

  .down {
    display: none;
  }

  .above {
    position: relative;
    right: 0;
    top: 0;
  }

  #flatify-project-page .project-description {
    display: block;
    text-align: center;
  }

  #flatify-project-page .description {
    margin-bottom: 40px;
  }

  .img-profile .flatify-img {
    width: 100%;
  }

  #profile-flatify .description {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .banner-flatify {
    height: 105vh;
    background-size: contain;
  }

  .game-cards-img {
    margin: 140px 0px 30px 0px;
  }

  .categories .img-game-cards {
    margin-top: 93px;
  }
}
