/* COMMON COMPONENTS */
@import url(../../style/components/footer.css);
@import url(../../style/components/navbar.css);
@import url(../../style/components/buttons.css);
@import url(../../style/components/tags.css);

/* UNIQUE PROJECTS COMPONENTS */
@import url(components/banner.css);
@import url(components/icons.css);
@import url(components/video.css);


:root {
  --color-principal: #5F38CC ; /* #FEE475 */
  --color-secundario: #3E4E50;
  --color-headers: #353535;
  --color-paragraphs: #636262;
  --color-details: #f5b461;
  --color-ebony: #606d5d;
}

body {
  margin: 0;
  margin-top: 0;
}

p {
  font-family: sofia-pro-soft, sans-serif;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 100;
  color: var(--color-paragraphs);
}

h1,
h2,
h3,
h4 {
  font-family: sofia-pro, sans-serif;
  font-weight: bold;
  color: var(--color-headers);
}

a {
  display: block;
  color: black;
  font-family: sofia-pro, sans-serif;
}

a:hover {
  text-decoration: none;
  color: black;
}

.project-description .subtitle {
  font-weight: bold;
  font-family: sofia-pro, sans-serif;
}

.project-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  height: 80vh;
}

.project-description {
  line-height: 34px;
}

.project-specifications {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.wrapper-project-description {
  background-size: cover;
  background-position: left;
  margin-top: 80px;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1024px) {
  #video-games-master {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 768px) {

}

@media (max-width: 414px) {

}
