.message {
  opacity: 0;
  text-align: right;
  background: white;
  border: 2px solid black;
  width: 31%;
  padding: 15px 24px;
  border-radius: 8px;
  position: fixed;
  right: 19px;
  bottom: -4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

.message p:first-child {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
