.avatar {
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  height: 150px;
  object-position: top;
}

.avatar-mini {
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  object-position: top;
}
