.banner {
  background-color: white;
  height: 100vh;
  position: relative;
}

.banner img:last-child {
  position: absolute;
}

.banner h1 {
  font-family: sofia-pro, sans-serif;
  font-size: 150px;
  color: var(--color-headers);
  font-weight: bolder;
  letter-spacing: -7px;
}

.banner-content {
  padding-top: 10%;
  text-align: center;
}

.banner p {
  font-weight: 100;
  font-size: 30px;
}

.btn-close-alert {
  cursor: pointer;
  color: black;
}

.contact-btns {
  position: relative;
}

/* PROJECT BANNER */
