.banner {
  background-color: var(--color-principal);
  height: 100vh;
  position: relative;
}

.banner h1 {
  font-size: 100px;
  color: var(--color-headers)
  font-weight: lighter;
}

.card-banner .window-icons i {
  font-size: 20px;
}


