.btn-contact-2 {
  border: 1px solid black;
  padding: 10px 28px;
  margin-left: 40px;
  border-radius: 30px;
  transition: all 0.5s;
}

.btn-copy, .btn-redirect-email {
  background: #e5e5e2;
  color: black;
  padding: 10px 14px;
  border-radius: 50%;
  width: 3.5%;
  position: absolute;
  top: 21px;
  right: 400px;
}

.btn-redirect-email {
  right: 354px;
  top: 57px;
}

.btn-contact-2:hover {
  background:  var(--color-principal);
  color: white;
  border: 1px solid var(--color-principal);
  transition: 0.5s;
}

.banner .btn-email {
  margin-top: 60px;
}

.btn-email {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 35px;
  box-shadow: 0px 4px 40px lightgray;
  background: var(--color-principal);
  transition: all 0.5s;
  color: white;
}

.banner .btn-email {
  width: 28%;
}

.btn-email:hover {
  transform: translateY(-10px);
  transition: 0.5s;
  color: white;
}

.banner-content .btn-email:hover {
  transform: translateY(0px);
}

.btn-download-cv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  padding: 10px 20px;
  width: 20%;
  margin: auto;
  margin-top: 60px;
  border-radius: 30px;
  transition: all 0.5s;
}

.btn-download-cv:hover {
  background: var(--color-principal);
  border: 1px solid var(--color-principal);
  transition: 0.5s;
  color: white;
}

button {
  border: none;
  background-color: transparent;
}

