.btn-contact {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px 20px;
  margin-left: 40px;
}

.btn-contact:hover {
  background-color: black;
  color: #F2CD5D;
}

.btn-download-cv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  padding: 10px 20px;
  width: 20%;
  margin: auto;
  font-weight: bold;
  margin-top: 60px;
}

.btn-download-cv:hover {
  background-color: black;
  color: #F2CD5D;
}

button {
  border: none;
  background-color: transparent;
}
