.banner-cards {
  z-index: auto;
}

.card-banner {
  background-color: white;
  width: 761px;
  position: absolute;
  top: 23%;
  border: 1px solid rgb(130 129 129);
  left: 11%;
  border-radius: 8px;
}

.header {
  background: #F6F7FA;
  border-radius: 8px 8px 0px 0px;
}

.card-banner .window-icons {
  margin-bottom: 20px;
}

.banner .window-icons, .card-banner-content {
  padding: 20px 50px;
}

.card-banner .window-icons i {
  font-size: 20px;
}

.card-banner p {
  margin-top: 20px;
  font-size: 24px;
}

.card-purple {
  background-color: var(--color-secundario);
  height: 400px;
  width: 764px;
  position: absolute;
  left: 14%;
  top: 18%;
  border: 1px solid rgb(108 151 133);
}

.card-transparent {
  background-color: var(--color-principal);
  border: 1px solid rgb(130 129 129);
  width: 761px;
  position: absolute;
  height: 400px;
  left: 16.5%;
  top: 14%;
}

/* CARDS CONTAINER */
.cv-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 80px;
  grid-gap: 10px;
}

.cv-card {
  cursor: pointer;
}

.cv-card h2 {
  text-align: center;
}

/* CARD CONTACT DETAILS (ABOUT ME) */

.card-contact-details {
  background: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  width: 50%;
  padding: 30px 30px 60px;
  height: 50%;
  border: 2px solid rgb(130, 129, 129, 0.1);
  border-radius: 8px;
}

.card-contact-details-content {
  display: flex;
  align-items: center;
}

.card-contact-details-no-img {
  margin-left: 20px;
}
.card-contact-details-phone i, .card-contact-details-location i {
  color: var(--color-secundario);
  margin-right: 10px;
}

.card-contact-details-phone {
  display: flex;
  align-items: center;
}

.card-contact-details-location {
  display: flex;
  align-items: center;
}

.purple-bar {
  width: 100px;
  background: var(--color-secundario);
  height: 10px;
}

.download-cv {
  display: flex;
  margin-top: 27px;
  align-items: center;
}

.download-cv i {
  font-size: 44px;
}

.download-cv a {
  display: block;
}

.download-cv p {
  font-weight: bold;
  margin-left: 10px;
}

/* VALUE CARDS */

.value-cards {
  display: flex;
  justify-content: space-between;
}

.my-card {
  width: 30%;
}

.my-card:hover {
  transition: transform 0.4s;
  transform: translateY(-14px);
}

/* CV CARDS */
.cv-card-languages, .cv-card-experience, .cv-card-education, .cv-card-skills {
  background-color: white;
  padding: 20px 30px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  text-align: center;
}

.cv-card-languages:hover, .cv-card-education:hover, .cv-card-skills:hover, .cv-card-experience:hover {
  transition: transform 0.4s;
  transform: translateY(-14px);
}

.cv-education-skills {
  flex-grow: 1;
  margin: 0px
}


/* PROJECT CARDS */
.project-card {
  background-color: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  width: 49%;
  border-radius: 8px;
}

.project-card:hover {
  transition: transform 0.4s;
  transform: translateY(-14px);
}

.project-card-content .project-description {
  margin-bottom: 0px;
  height: auto;
}

.project-card-content .subtitle {
  margin-bottom: 20px;
}

.project-card .github-icon {
  color: grey;
}

.project-card .github-icon:hover {
  color: black;
}

.project-card .window-icons {
  padding: 30px 40px;
  margin-bottom: 0px;
}
.project-card-content {
  padding: 30px 40px;
}

.project-title-github {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title-github i {
  font-size: 34px;
}

.project-technologies {
  margin-top: 10px;
}

.project-technologies p {
  margin-top: 10px;
}

.link-project {
  margin-top: 20px;
  display: inline-block;
}

.arrow-up {
  font-size: 16px;
  color: var(--color-paragraphs);
  margin-left: 2px;
}
