.footer {
  background-color: #212121;
  height: 300px;
  padding-top: 40px;
}

.footer p {
  color: white;
  margin-top: 20px;
}

.contact-links-footer, .sections-footer {
  padding-left: 0px;
}

.contact-links-footer li, .sections-footer li {
  display: inline-block;
  /*margin-right: 10px;*/
  font-weight: 400;
  font-size:
}

.contact-links-footer a, .sections-footer a {
  display: block;
  color: white;
  font-family: sofia-pro, sans-serif;
  font-size: 18px;
}

.footer a:hover {
  color: white;
}

.footer a {
  color: grey;
}
