.footer {
  background-color: rgb(154, 211, 188, 0.5);
  height: 300px;
}

.footer h4 {
  padding-top: 20px;
  font-weight: normal;
  font-size: 20px;
}

.contact-links-footer {
  padding-left: 0px;
}

.contact-links-footer li {
  display: inline-block;
  /*margin-right: 10px;*/
  font-weight: 700;
  font-size:
}

.contact-links-footer a {
  display: block;
  color: grey;
  font-family: sofia-pro, sans-serif;
  font-size: 18px;
}
