.footer {
  background-color: #59656F;
  height: 300px;
  padding-top: 40px;
}

.footer p {
  color: white;
}

.contact-links-footer {
  padding-left: 0px;
}

.contact-links-footer li {
  display: inline-block;
  /*margin-right: 10px;*/
  font-weight: 400;
  font-size:
}

.contact-links-footer a {
  display: block;
  color: white;
  font-family: sofia-pro, sans-serif;
  font-size: 18px;
  margin-top: 20px;
}
