.window-icons {
  display: flex;
  margin-bottom: 40px;
}

.window-icons i {
  margin-right: 6px;
  font-size: 16px;
}

.window-close {
  color: #7B0000;

}

.window-minimize {
  color: #A17501;
}

.window-open {
  color: #0A8425;
}

.contact-icons {
  position: absolute;
  top: 76%;
  left: 38%;
}

.icons-list li {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}

.contact-icons i {
  font-size: 64px;
}

.download {
  font-size: 34px;
}

.contact-icons a {
  display: block;
  color: grey;
}

.interests {
  margin-top: 60px;
}

.interest i {
  font-size: 71px;
  font-weight: bolder;
  color: var(--color-subtitles);
}
