.img-flatify {
  width: 30%;
  margin-left: 40px;
  filter: drop-shadow(4px 4px 40px rgba(0, 0, 0, 0.25));
}

.img-games-master {
  width: 30%;
  margin-right: 40px;
  filter: drop-shadow(4px 4px 40px rgba(0, 0, 0, 0.25));
}

.interest img {
  width: 40%;
}

.value-card-content img {
  width: 40%;
}
