.navbar {
  display: flex;
  height: 68px;
  position: sticky;
  top: 0px;
  background: var(--color-principal);
  /* opacity: 0.8; */
  z-index: 1;
}

.navbar-links a {
  margin-left: 40px;
  margin-bottom: 0px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

/* NAVBAR PHONE */
.navbar-phone {
  display: flex;
  height: 68px;
  position: sticky;
  top: 0px;
  background: var(--color-principal);
  z-index: 1;
  text-align: right;
}

.burger-menu {
  font-size: 34px;
  margin-top: 20px;
}

.sections {
  background-color: var(--color-principal);
  height: 100vh;
  text-align: center;
  z-index: 1;
  position: sticky;
  top: 0;
}

.navbar-background {
  background: rgb(242, 205, 93, 0.6);
}


