.banner-project {
  background-size: cover;
  padding-top: 50px;
  background-position: center;
  padding-bottom: 60px;
}

.banner-project .subtitle {
  letter-spacing: 3px;
  font-weight: 500;
  font-size: small;
  opacity: 0.7;
}

.banner-project-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-project-content p {
  font-size: 20px;
  line-height: 40px;
}

.banner-project h1 {
  color: var(--color-headers);
}

.banner-project-description {
  margin-top: 40px;
}

.project-info {
  margin-right: 20px;
}

.banner-project-content .project-info .tech-tag  {
  margin-bottom: 30px;
}

.project-pic {
  width: 61%;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  height: 20%;
  margin-left: 10px;
}

.project-pic-flatify {
  width: 25%;
  box-shadow: none;
}

.project-link, .type-application {
  border-top: 1px solid lightgrey;
  padding: 10px 0px 10px 0px;
  transition: all 0.5s;
}

.type-application {
  margin-top: 40px;
}

.project-links a {
  display: inline-block;
}

.project-link:hover a {
  text-decoration: underline;
}

.project-link:last-child {
   border-bottom: 1px solid lightgrey;
}

.project-links p, .type-application p:first-child {
  font-size: small;
  letter-spacing: 3px;
  font-weight: 100;
}

.type-application p:last-child {
  color: black;
  font-size: 16px;
  font-weight: normal;
}


.banner-flatify {
  margin: 250px 0px;
  background: #04AF88;
  height: 60vh;
  background-image: url(../../../images/flatify-background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: bottom;
}

.banner-flatify-content {
  padding-top: 80px;
}

.banner-flatify-content h1 {
  font-size: 80px;
  color: black;
}

.banner-flatify-content p {
  font-size: 24px;
  color: black;
  font-weight: lighter;
}

.banner-flatify .link-project {
  display: inline-block;
  margin-top: 60px;
  color: white;
  padding: 20px 61px;
  background: black;
  font-size: 20px;
  border-radius: 8px;
}
